* text=auto eol=lf
*.png binary
*.jpg binary
*.ico binary
*.sh text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
LICENSE text eol=lf
